* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --milk-color: #FDFFF5;
    --oreo-color: #272425;
    --wall-color: #6C6463;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

svg, map {
    display: block;
    height: 0;
}

.space {
    background-color: var(--wall-color);
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    filter: url(#gooey);
}

.oreo {
    display: block;
    position: relative;
    width: 20rem;
    height: 20rem;
    opacity: 1;
    transform-origin: center center;
    transition: all .5s ease-in-out;
    transform: translateY(6rem);
}

area {
    cursor: pointer;
}

.oreo.hidden {
    transform: translateY(6rem) scale(.1) rotateZ(132deg) ;
    opacity: 0;
}

.oreo.dunked {
    transform: translateY(21rem);
}

.milk {
    display: block;
    position: relative;
    background-color: var(--milk-color);
    height: 40%;
    width: 100%;
}



